.page {
    background-color: #f4f6f9;
    padding: 20px;
    border: 1px solid #ccc; /* Border around all columns */
    border-radius: 8px;
}

.main-info {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 10px;
    color: #333;
}

.flow-container {
    display: flex;
    justify-content: space-between;
}

.flow-column {
    flex-basis: 30%; /* Adjust as needed */
}

.empty-column {
    flex-basis: 30%; /* Adjust as needed */
}

.info-item {
    margin-bottom: 5px;
    color: #555;
}

.description {
    font-weight: italic;
    color: #555;
}

.error {
    color: red;
    font-weight: bold;
}

.github-star {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
}

.github-star a {
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
}

.github-star a:hover {
    text-decoration: underline;
}